#root{
    .adminmain{
        height: 100%;
        width: 100%;
        .ad-header{
            height: .44rem;
            line-height: .44rem;
            i{
                margin-left: .1rem;
                font-size: .20rem;
            }
        }
    }
}