#root {
    height: 100%;
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfonts/iconfont.eot');
  src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/iconfonts/iconfont.woff') format('woff'),
  url('/iconfonts/iconfont.ttf') format('truetype'),
  url('/iconfonts/iconfont.svg#iconfont') format('svg');
}

.home-container {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    header {
      height: .73rem;
      background: #fff;
      color:#666;
      font-size: .13rem;
      width: 100%;
      .mob-header-content{
        height: .41rem;
        @include flexbox();
        padding: .056rem .13rem .05rem .09rem;
        position: relative;
        .logo{
          float: left;
          height: .29rem;
          span{
            display: inline-block;
            width:.83rem;
            height:.21rem;
            margin-top: .06rem;
            background: url("../images/logo.png") no-repeat center center;
            background-size: cover;
          }
        }
        .search-from{
          float: left;
          width: 8.25rem;
          width: 1.93rem;
          margin: 0 .07rem;
          p{
            width: 1.93rem;
            height: .29rem;
            background-color: #eee;
            text-align: center;
            line-height: .29rem;
          }
        }
        .location{
          position: absolute;
          top: .056rem;
          right: .13rem;
          height: .29rem;
          padding-top: .07rem;
          span{
            width: .44rem;
            height: .14rem;
            display: block;
            font-size: .14rem;
            color: #000;
            border-radius: 4px;
          }
        }
      }
    }
    main {
      @include flex()
    }
    nav {
      height: .44rem;
      background: #f6f6f6;
      // border-top: solid 1px #ccc;
      @include border(1px 0 0 0);
      ul {
        height: 100%;
        @include flexbox();
        li {
          @include flex();
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          font-size: .18rem;
          color: #c2cfcc;
          b {
            font-weight: 100;
          }
          &.active {
            color: #00b38a;
            background: #e7f3f0;
          }
        }
      }
    }
  }