#root {
    height: 100%;
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfonts/iconfont.eot');
  src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/iconfonts/iconfont.woff') format('woff'),
  url('/iconfonts/iconfont.ttf') format('truetype'),
  url('/iconfonts/iconfont.svg#iconfont') format('svg');
}

.home-container {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    header {
      height: .73rem;
      background: #fff;
      color:#666;
      font-size: .13rem;
      width: 100%;
      .mob-header-content{
        height: .41rem;
        @include flexbox();
        padding: .056rem .13rem .05rem .09rem;
        position: relative;
        .logo{
          float: left;
          height: .29rem;
          span{
            display: inline-block;
            width:.83rem;
            height:.21rem;
            margin-top: .06rem;
            background: url("../images/logo.png") no-repeat center center;
            background-size: cover;
          }
        }
        .search-from{
          float: left;
          height: .29rem;
          width: 1.93rem;
          margin: 0 .07rem;
          p{
            width: 1.93rem;
            height: .29rem;
            color: #aaa;
            background-color: #eee;
            text-align: center;
            line-height: .29rem;
            font-size: .13rem;
            overflow: hidden;
            @include border-radius(4px);
            &::before{
              content: '';
              display: inline-block;
              width: .14rem;
              height: .14rem;
              margin-top: .07rem;
              margin-right: .01rem;
              vertical-align: top;
              background: url("../images/search.png") no-repeat 0;
              background-size: contain;
            }
          }
        }
        .location{
          position: absolute;
          top: .056rem;
          right: .13rem;
          height: .29rem;
          padding-top: .07rem;
          span{
            width: .44rem;
            height: .14rem;
            display: block;
            font-size: .14rem;
            color: #000;
          }
        }
      }
      .mob-header-nav{
        height: .32rem;
        width: 100%;
        overflow-x: hidden;
        font-weight: normal;
        ul{
          display: block;
          width: 4.72rem;
          li{
            float: left;
            height: .32rem;
            line-height: .32rem;
            margin: 0 .11rem;
            // &.active{
            //   a{
            //     color: #000;
            //   }
            //   @include border(0 0 3px 0);
            // }
            a{
              font-size: .14rem;
              color: #333;
              font-weight: 100;
            }
          }
        }
      }
    }
    main {
      @include flex();
      height: 100%;
    }
    .navfooter {
      height: .57rem;
      background: #fff;
      // border-top: solid 1px #ccc;
      @include border(1px 0 0 0);
      ul {
        height: 100%;
        @include flexbox();
        li {
          @include flex();
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          @include flex-direction(column);
          font-size: .18rem;
          color:#333;
          b {
            font-weight: 100;
            font-size: .13rem;
            color: #333;
          }
          &.active {
            color: #c81c28;
            b{
              color: #c81c28;
            }
          }
        }
      }
    }
  }