#root {
    height: 100%;
}

@font-face {
  font-family: 'yofont';
  src: url('/iconfonts/iconfont.eot');
  src: url('/iconfonts/iconfont.eot?#iefix') format('embedded-opentype'),
  url('/iconfonts/iconfont.woff') format('woff'),
  url('/iconfonts/iconfont.ttf') format('truetype'),
  url('/iconfonts/iconfont.svg#iconfont') format('svg');
}

.home-container {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    header {
      height: .44rem;
      background: #00b38a;
      color: #fff;
      font-size: .18rem;
      line-height: .44rem;
      text-align: center;
    }
    main {
      @include flex()
    }
    nav {
      height: .44rem;
      background: #f6f6f6;
      // border-top: solid 1px #ccc;
      @include border(1px 0 0 0);
      ul {
        height: 100%;
        @include flexbox();
        li {
          @include flex();
          @include flexbox();
          @include justify-content(center);
          @include align-items(center);
          font-size: .18rem;
          color: #c2cfcc;
          b {
            font-weight: 100;
          }
          &.active {
            color: #00b38a;
            background: #e7f3f0;
          }
        }
      }
    }
  }