#root{
    .profilemain{
        @include flexbox();
        @include flex-direction(column);
        height: 100%;
        .mll-header{
            height: .45rem;
            width: 100%;
            @include border(0 0 1px 0);
            background-color: #fff;
            .viewport{
                height: .37rem;
                width: 100%;
                @include flexbox();
                @include justify-content(space-between);
                .laye-back{
                    width: .40rem;
                    height: .37rem;
                    padding-left: .15rem;
                    line-height: .37rem;
                    i{
                        font-size: .22rem;
                        font-weight: 700;
                        color: #333;
                    }
                }
                .laye-middle{
                    @include flex();
                    height: .37rem;
                    padding-top: .07rem;
                    text-align: center;
                    line-height: .30rem;
                    font-size: .18rem;
                    color: #333;
                    font-weight: 700;
                }
                .laye-nav{
                    width: .36rem;
                    height: .37rem;
                    line-height: .37rem;
                    padding-right: .15rem;
                    i{
                        font-size: .22rem;
                        font-weight: 100;
                        color: #333;
                    }
                }
            }
        }
        .mll-main{
            @include flex();
            width: 100%;
            .mll-main-header{
                height: .45rem;
                padding-top: .11rem;
                padding-bottom: .11rem;
                background-color: #fff;
                width: 100%;
                @include border(0 0 1px 0);
                @include flexbox();
                @include justify-content(center);
                a{
                    display: inline-block;
                    width: .52rem;
                    height: .23rem;
                    color: #da0000;
                    text-align: center;
                    line-height: .23rem;
                    font-size: .13rem;
                    @include border(1px,#da0000,solid,2px);
                    @include border-radius(10px);
                }
                span{
                    height: .23rem;
                    line-height: .23rem;
                    margin-left: .05rem;
                    font-size: .12rem;
                }
            }
            .mll-main-contend{
                height: 100%;
                background: url("../images/shopbg.png") no-repeat center 1.2rem;
                background-size: 1rem;
                padding-top: 2.3rem;
                text-align: center;
                div
                {
                    height: .18rem;
                    color: #999;
                }
                a{
                    display: inline-block;
                    width: 1.05rem;
                    height: .3rem;
                    line-height: .3rem;
                    background-color: #da0000;
                    color: #fff;
                    text-align: center;
                    margin-top: .1rem;
                }
            }
            .mll-list{
                width: 100%;
                height: auto;
                margin-top: .2rem;
                padding-left: .1rem;
                padding-right: .1rem;
                background: #fff;
                .mll-main-list{
                    height: .95rem;
                    width: 100%;
                    @include border(1px 0 0 0 );
                    @include flexbox();
                    @include justify-content(space-around);
                    .td1{
                        width: .3rem;
                        padding-top: .1rem;
                        height: .95rem;
                        input{
                            display: inline-block;
                            width: .2rem;
                            height: .2rem;
                            margin-top: .3rem;
                        }
                    }
                    .td2{
                        width: 1.3rem;
                        padding-top: .1rem;
                        height: .95rem;
                        img{
                            width: 1.15rem;
                            height: .75rem;
                            border: none;
                            vertical-align: top;
                            display: block;
                        }
                    }
                    .td3{
                        width: 2.05rem;
                        padding-top: .1rem;
                        height: .95rem;
                        @include flexbox();
                        @include flex-direction(column);
                        .td-1{
                            height: .3rem;
                            line-height: .15rem;
                            font-size: .13rem;
                            color: #666;
                        }
                        .td-2{
                            height: .2rem;
                            line-height: .2rem;
                            color: #da0000;
                            font-size: .14rem;
                            font-weight: 900;
                        }
                        .td-3{
                            height: .25rem;
                            span{
                                display: inline-block;
                                height: .25rem;
                                width: .25rem;
                                float: left;
                                text-align: center;
                                line-height: .25rem;
                                @include border();
                                font-weight: 900;
                            }
                            input{
                                display: inline-block;
                                height: .25rem;
                                width: .25rem;
                                float: left;
                                outline: none;
                                text-align: center;
                                @include border(1px 0 1px 0);
                            }
                            i{
                                display: inline-block;
                                height: .25rem;
                                width: .25rem;
                                line-height: .25rem;
                                font-size: .20rem;
                                float: right;
                                text-align: center; 
                            }
                        }
                    }
                }
            }
        }
        .mll-footer{
            height:1.21rem;
            padding-top: .3rem;
            width: 100%;
            background: #414141;
            .btns{
                margin-bottom: .18rem;
                height: .32rem;
                @include flexbox();
                @include justify-content(center);
                div{
                    width: .86rem;
                    height: .32rem;
                    @include border();
                    @include border-radius(4px);
                    text-align: center;
                    line-height: .32rem;
                    color: #fff;
                    font-size: .14rem;
                }
                .btns-app{
                    margin-right: .23rem;
                }
            }
            .icp{
                text-align: center;
                height: .23rem;
                p{
                    font-size: .10rem;
                    color: #aaa;
                }
            }
        }
        .navfooter {
            height: .57rem;
            background: #fff;
            // border-top: solid 1px #ccc;
            @include border(1px 0 0 0);
            ul {
              height: 100%;
              @include flexbox();
              li {
                @include flex();
                @include flexbox();
                @include justify-content(center);
                @include align-items(center);
                @include flex-direction(column);
                font-size: .18rem;
                color:#333;
                b {
                  font-weight: 100;
                  font-size: .13rem;
                  color: #333;
                }
                &.active {
                  color: #c81c28;
                  b{
                    color: #c81c28;
                  }
                }
              }
            }
          }
    }
}