<div class="adminmain">
    <header class="ad-header">
        <i class="yo-ico">&#xe660;</i>
    </header>
    <main class="ad-main">
        <div class="ad-userlogin"></div>
        <div class="ad-userlog">
            <div class="ad-usertype">
                <ul>
                    <li>
                        <i class="yo-ico">&#xe659;</i>
                        <input type="text" id="username" placeholder="请输入用户名/手机号/邮箱">
                    </li>
                    <li>
                        <i class="yo-ico">&#xe668;</i>
                        <input type="password" id="password" placeholder="请输入密码">
                    </li>
                </ul>
            </div>
            <div class="ad-attr">
                <a id="userlogin">登录</a>
                <span>注册</span> 
            </div>
        </div>
    </main>
</div>