<div>
    <header class="detHead">
        <span class="yo-ico goback1">&#xe660;</span>
        <span>商品详情</span>
        <span class="yo-ico">&#xe63f;</span>
        <span class="yo-ico">&#xeeea;</span>
    </header>
    <div class="goodDetail">
        
    </div>
    
    <ul class="options">
        <li>活动：本站价满5000减500，上不封顶</li>
        <li>已选：1张</li>
        <li>送至：请选择配送区域</li>
    </ul>
    
    <div class="brank">
        <div>
            <div>
                <img src="//image.meilele.com/images/expr/1525846290855.jpg">
            </div>
            <div>
                <p>美乐乐北京6家体验馆</p>
                <p>
                    <span><img src="//image.meilele.com/images/user_head_img/201704/1492027181097905567.jpg"></span>
                    <span>体验实物品质免费搭配设计</span>
                </p>
                <p>预约高级顾问服务</p>
            </div>
        </div>
        <div>
            <span>美乐乐自营旗舰店</span>
            <span>30天退货</span>
            <span>质保三年</span>
            <span>贵就赔</span>
        </div>
    </div>
    
    <div class="detailTab">
        <div>
            <span>图文详情</span>
            <span>规格参数</span>
            <span>相似推荐</span>
        </div>
        <div>
            <div>
                <img src="//image.meilele.com/images/201808/1534934118976522935.jpg">
            </div>
            <div>
                <img src="//image.meilele.com/images/201808/1534934118128252339.jpg">
            </div>
        </div>
    </div>
    <footer>
        <div class="down-btn">
            <span>下载APP</span>
            <span>电脑版</span>
        </div>
        <div class="footMsg">
            <p>天津美维信息技术有限公司</p>
            <p>ICP备案证书号：粤ICP备08008334号</p>
        </div>
    </footer>
</div>
<nav class="bottom">
    <ul>
        <li>
            <i class="yo-ico">&#xe644;</i>
            <span>收藏</span>
        </li>
        <li>
            <i class="yo-ico">&#xe665;</i>
            <span>客服</span>
        </li>
        <li>加入购物车</li>
        <li>获取门店地址</li>
    </ul>
</nav>