<div class="home-container">
    <header>
        <div class="mob-header-content">
            <a href="##" id="JS_header_logo" class="logo">
                <span></span>
            </a>
            <div class="search-from">
                <p>搜索商品</p>    
            </div>
            <a href="##" id="JS_header_region" class="location">
                <span>北京</span>
            </a>
        </div>
    </header>
    <main></main>
    <nav>
        <ul>
            <li class="active">
                <i class="yo-ico">&#xe6b8;</i>
                <b>职位2</b>
            </li>
            <li>
                <i class="yo-ico">&#xe65c;</i>
                <b>搜索</b>
            </li>
            <li>
                <i class="yo-ico">&#xe7d5;</i>
                <b>我的</b>
            </li>
        </ul>
    </nav>
</div>