<div class="home-container">
    <header>
        <div class="mob-header-content">
            <a href="##" id="JS_header_logo" class="logo">
                <span></span>
            </a>
            <div class="search-from">
                <p>搜索商品</p>    
            </div>
            <a href="##" id="JS_header_region" class="location">
                <span>北京</span>
            </a>
        </div>
        <nav class="mob-header-nav">
            <ul>
                <li class="avtive">
                    <a>首页</a>
                </li>
                <li>
                    <a>新品</a>
                </li>
                <li>
                    <a>现货特卖</a>
                </li>
                <li>
                    <a>沙发</a>
                </li>
                <li>
                    <a>床</a>
                </li>
                <li>
                    <a>床垫</a>
                </li>
                <li>
                    <a>实木家具</a>
                </li>
                <li>
                    <a>地板</a>
                </li>
            </ul>
        </nav>
    </header>
    <main></main>
    <nav class="navfooter">
        <ul>
            <li class="active">
                <i class="yo-ico">&#xe64f;</i>
                <b>首页</b>
            </li>
            <li>
                <i class="yo-ico">&#xe685;</i>
                <b>分类</b>
            </li>
            <li>
                <i class="yo-ico">&#xe63f;</i>
                <b>购物车</b>
            </li>
            <li>
                <i class="yo-ico">&#xe659;</i>
                <b>我的</b>
            </li>
        </ul>
    </nav>
</div>