<header>
    <div>
        <span class=""></span>
        <input type="text" />
        <span class=""></span>
    </div>
    <div>
        <span>新品<i class=""></i></span>
        <span>价格<i></i></span>
        <span>筛选<i></i></span>
        <span></span>
    </div>
</header>
<nav>
    <ul>
        <li>美乐乐自营</li>
        <li>销量</li>
        <li>风格<i class=""></i></li>
        <li>品牌<i class=""></i></li>
    </ul>
</nav>
<main>
    <ul>
        <li>
            <div>
                <a href="##" alt="">
                    <img src="//img004.mllres.com/images/201611/1480046167680305533.jpg">
                </a>
                <div>
                    <a href="##">
                        <p>[木彩] 北欧风格 橡胶木框架 附带书架收纳多功能儿童高低床 1.35米儿童组合床双层床（含固定三抽+梯柜）</p>
                    </a>
                    <p>￥7365</p>
                    <p>已售<span>262</span></p>
                </div>
            </div>
        </li>
    </ul>
</main>
<footer>
    <div>
        <span>下载APP</span>
        <span>电脑版</span>
    </div>
    <div>
        <p>天津美维信息技术有限公司</p>
        <p>ICP备案证书号：粤ICP备08008334号</p>
    </div>
</footer>