<div class="newgoods">
    <header class="listHead">
        <div>
            <span class="yo-ico goback">&#xe660;</span>
            <span><i class="yo-ico">&#xe651;</i><input type="text" placeholder="搜索商品" /></span>
            <span class="yo-ico">&#xeeea;</span>
        </div>
    </header>
    <nav class="nav1">
        <ul>
            <li>新品<i class="yo-ico">&#xe65c;</i></li>
            <li>
                <span>价格</span>
                <span>
                    <i class="yo-ico priceUp">&#xe618;</i>
                    <i class="yo-ico priceDown">&#xe65c;</i>
                </span>
            </li>
            <li class="filterP">筛选<i class="yo-ico">&#xe608;</i></li>
            <li class="yo-ico cutStyle">&#xe62e;</li>
        </ul>
    </nav>
    <nav class="ceiling">
        <ul>
            <li>美乐乐自营</li>
            <li>销量</li>
            <li>
                <span>风格</span>
                <i class="yo-ico">&#xe65c;</i>
            </li>
            <li>
                <span>品牌</span>
                <i class="yo-ico">&#xe65c;</i>
            </li>
        </ul>
    </nav>
    <main class="mainStyle1">
        <ul class="newList">
           
        </ul>
    </main>
    <footer>
        <div class="down-btn">
            <span>下载APP</span>
            <span>电脑版</span>
        </div>
        <div class="footMsg">
            <p>天津美维信息技术有限公司</p>
            <p>ICP备案证书号：粤ICP备08008334号</p>
        </div>
    </footer>
</div>

<div class="mask">
    <div class="dispaly">
        <span>隐藏</span>
        <span class="yo-ico">&#xe65f;</span>
    </div>
    <div class="filter">
        <div class="filter_price">
            <div>
                <span>价格</span>
                <span class="yo-ico">&#xe65e;</span>
            </div>
            <div>
                <span>最高价</span>
                <span>-</span>
                <span>最低价</span>
            </div>
            <div class="interval">
                <span>0-1000</span>
                <span>1000-3000</span>
                <span>3000-5000</span>
            </div>
        </div>
        <div class="mack-btn">
            <span class="resize">重置</span>
            <span class="sure">确认</span>
        </div>
    </div>
</div>