<div class="main_wrap">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide"><img src="../../images/banner1.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner2.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner3.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner4.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner5.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner6.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner7.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner8.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner9.jpg"> </div>
      <div class="swiper-slide"><img src="../../images/banner10.jpg"> </div>
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>
  </div>
  <div class="position_nav">
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>体验馆</p>
    </div>
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>新品</p>
    </div>
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>现货特卖</p>
    </div>
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>阅木</p>
    </div>
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>实木家具</p>
    </div>
    <div>
      <i class="yo-ico">&#xe685;</i>
      <p>沙发</p>
    </div>
    <div>
      <i class="yo-ico">&#xe63f;</i>
      <p>床</p>
    </div>
    <div>
      <i class="yo-ico">&#xe63f;</i>
      <p>床垫</p>
    </div>
  </div>

  <!-- 限时抢购 -->
  <div class="positon_flashTime">
    <div class="title">
      <p>限时抢购</p>
      <i class="yo-ico">&#xe65f;</i>
    </div>
    <div class="positon_flashTime_con1">
      <div class="positon_flashTime_con">
      </div>
    </div>
  </div>
  <!-- 新品发布 -->
  <div class="position_newProduct">
    <div class="title">
      <p>新品首发</p>
      <i class="yo-ico">&#xe65f;</i>
    </div>
    <div class="position_newProduct_con">
      <div>
        <img src="../../images/newproduct1.jpg">
        <div>
          <p>LED实木吸顶灯</p>
          <i>￥199</i>
        </div>

      </div>
      <div>
        <div>
          <img src="../../images/newproduct2.jpg">
          <div>
            <p>1.8米收纳储物床</p>
            <i>￥1499</i>
          </div>

        </div>
        <div>
          <img src="../../images/newproduct3.jpg">
          <div>
            <p>简约布艺转角沙发</p>
            <i>￥2899</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 全屋系列 -->
  <div class="position_allHouse">
    <div class="title">
      <p>全屋系列</p>
    </div>
    <div class="swiper-container1">

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_living1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_living2.jpg">
              <span>全实木布艺沙发</span>
              <i>￥7999</i>
            </div>
            <div>
              <img src="../../images/all_living3.jpg">
              <span>1.2米带抽茶几</span>
              <i>￥1599</i>
            </div>
            <div>
              <img src="../../images/all_living4.jpg">
              <span>1.5米电视柜</span>
              <i>￥2099</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_beding1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_beding2.jpg">
              <b>促销</b>
              <span>1.8米实木床</span>
              <i>￥1699</i>
            </div>
            <div>
              <img src="../../images/all_beding3.jpg">
              <b>促销</b>
              <span>双抽床头柜</span>
              <i>￥449</i>
            </div>
            <div>
              <img src="../../images/all_beding4.jpg">
              <span>四门衣柜</span>
              <i>￥5699</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_restaurant1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_restaurant2.jpg">
              <span>实木餐厅套装</span>
              <i>￥3399</i>
            </div>
            <div>
              <img src="../../images/all_restaurant3.jpg">
              <span>两门餐边柜</span>
              <i>￥2199</i>
            </div>
            <div>
              <img src="../../images/all_restaurant4.jpg">
              <span>无扶手餐椅</span>
              <i>￥500</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 客厅 -->
  <div class="position_living position_room">
    <div class="title">
      <p>客厅</p>
    </div>
    <div class="swiper-container1">

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/living1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/living2.jpg">
              <span>棉麻布艺沙发</span>
              <i>￥5499</i>
            </div>
            <div>
              <img src="../../images/living3.jpg">
              <b>促销</b>
              <span>1.3米双抽屉茶几</span>
              <i>￥1799</i>
            </div>
            <div>
              <img src="../../images/living4.jpg">
              <span>1.5米电视柜2米电视柜</span>
              <i>￥2030</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/living5.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/living6.jpg">
              <b>促销</b>
              <span>头层牛皮沙发</span>
              <i>￥7499</i>
            </div>
            <div>
              <img src="../../images/living7.jpg">
              <b>促销</b>
              <span>板式长茶几</span>
              <i>￥1429</i>
            </div>
            <div>
              <img src="../../images/living8.jpg">
              <span>可伸缩电视柜</span>
              <i>￥1580</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/living9.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/living10.jpg">
              <span>棉麻布艺沙发</span>
              <i>￥2999</i>
            </div>
            <div>
              <img src="../../images/living11.jpg">
              <span>简约两抽屉茶几</span>
              <i>￥1499</i>
            </div>
            <div>
              <img src="../../images/living12.jpg">
              <span>三抽电视柜</span>
              <i>￥1890</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/living13.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                <img src="../../images/living14.jpg">
                <span>实木框架沙发</span>
                <i>￥9999</i>
              </div>
              <div>
                <img src="../../images/living15.jpg">
                <span>1.4米长茶几</span>
                <i>￥1588</i>
              </div>
              <div>
                <img src="../../images/living16.jpg">
                <span>组合柜3件套</span>
                <i>￥5445</i>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                <span></span>
                <img src="../../images/living17.jpg">
              </div>
              <div class="swiper-slide-detail">
                <div>
                  <img src="../../images/living18.jpg">
                  <span>棉麻布艺沙发</span>
                  <i>￥5295</i>
                </div>
                <div>
                  <img src="../../images/living19.jpg">
                  <span>现代风茶几</span>
                  <i>￥1525</i>
                </div>
                <div>
                  <img src="../../images/living20.jpg">
                  <span>可伸缩电视柜</span>
                  <i>￥1608</i>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>
<!-- 卧室 -->
<div class="position_beding position_room">
    <div class="title">
      <p>卧室</p>
    </div>
    <div class="swiper-container1">

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                <span></span>
                <img src="../../images/beding1.jpg">
              </div>
              <div class="swiper-slide-detail">
                <div>
                  <img src="../../images/beding2.jpg">
                  <b>促销</b>
                  <span>橡胶木双人床</span>
                  <i>￥3799</i>
                </div>
                <div>
                  <img src="../../images/beding3.jpg">
                  <span>三抽床头柜</span>
                  <i>￥750</i>
                </div>
                <div>
                  <img src="../../images/beding4.jpg">
                  <span>防螨乳胶床头柜</span>
                  <i>￥3099</i>
                </div>
              </div>
            </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/beding5.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/beding6.jpg">
              <b>促销</b>
              <span>象牙白双人床</span>
              <i>￥2199</i>
            </div>
            <div>
              <img src="../../images/beding7.jpg">
              <span>白色床头柜</span>
              <i>￥560</i>
            </div>
            <div>
              <img src="../../images/beding8.jpg">
              <span>平开四门衣柜</span>
              <i>￥4088</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/beding9.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/beding10.jpg">
              <b>促销</b>
              <span>水牛头层真皮床</span>
              <i>￥3150</i>
            </div>
            <div>
              <img src="../../images/beding11.jpg">
              <b>促销</b>
              <span>欧式床头柜</span>
              <i>￥1019</i>
            </div>
            <div>
              <img src="../../images/beding12.jpg">
              <span>雕花四门衣柜</span>
              <i>￥5550</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/beding13.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/beding14.jpg">
              <span>1.8米实木床</span>
              <i>￥2499</i>
            </div>
            <div>
              <img src="../../images/beding15.jpg">
              <span>双抽床头柜</span>
              <i>￥599</i>
            </div>
            <div>
              <img src="../../images/beding16.jpg">
              <span>四门衣柜</span>
              <i>￥5699</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/beding17.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                <img src="../../images/beding18.jpg">
                <span>水牛真皮床</span>
                <i>￥5588</i>
              </div>
              <div>
                <img src="../../images/beding19.jpg">
                <span>美式床头柜</span>
                <i>￥1708</i>
              </div>
              <div>
                <img src="../../images/beding20.jpg">
                <span>立体雕花衣柜</span>
                <i>￥5699</i>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
<!-- 餐厅 -->
<div class="position_resturant position_room">
    <div class="title">
      <p>客厅</p>
    </div>
    <div class="swiper-container1">

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_living1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_living2.jpg">
              <span>全实木布艺沙发</span>
              <i>￥7999</i>
            </div>
            <div>
              <img src="../../images/all_living3.jpg">
              <span>1.2米带抽茶几</span>
              <i>￥1599</i>
            </div>
            <div>
              <img src="../../images/all_living4.jpg">
              <span>1.5米电视柜</span>
              <i>￥2099</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_beding1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_beding2.jpg">
              <b>促销</b>
              <span>1.8米实木床</span>
              <i>￥1699</i>
            </div>
            <div>
              <img src="../../images/all_beding3.jpg">
              <b>促销</b>
              <span>双抽床头柜</span>
              <i>￥449</i>
            </div>
            <div>
              <img src="../../images/all_beding4.jpg">
              <span>四门衣柜</span>
              <i>￥5699</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_restaurant1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_restaurant2.jpg">
              <span>实木餐厅套装</span>
              <i>￥3399</i>
            </div>
            <div>
              <img src="../../images/all_restaurant3.jpg">
              <span>两门餐边柜</span>
              <i>￥2199</i>
            </div>
            <div>
              <img src="../../images/all_restaurant4.jpg">
              <span>无扶手餐椅</span>
              <i>￥500</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 书房 -->
  <div class="position_book position_room">
      <div class="title">
        <p>书房</p>
      </div>
      <div class="swiper-container1">
  
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/book1.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                <img src="../../images/book1.jpg">
                <span>全实木布艺沙发</span>
                <i>￥7999</i>
              </div>
              <div>
                <img src="../../images/book1.jpg">
                <span>1.2米带抽茶几</span>
                <i>￥1599</i>
              </div>
              <div>
                <img src="../../images/book1.jpg">
                <span>1.5米电视柜</span>
                <i>￥2099</i>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/book1.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                <img src="../../images/book1.jpg">
                <b>促销</b>
                <span>1.8米实木床</span>
                <i>￥1699</i>
              </div>
              <div>
                <img src="../../images/book1.jpg">
                <b>促销</b>
                <span>双抽床头柜</span>
                <i>￥449</i>
              </div>
              <div>
                <img src="../../images/book1.jpg">
                <span>四门衣柜</span>
                <i>￥5699</i>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/book1.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                <img src="../../images/all_restaurant2.jpg">
                <span>实木餐厅套装</span>
                <i>￥3399</i>
              </div>
              <div>
                <img src="../../images/all_restaurant3.jpg">
                <span>两门餐边柜</span>
                <i>￥2199</i>
              </div>
              <div>
                <img src="../../images/all_restaurant4.jpg">
                <span>无扶手餐椅</span>
                <i>￥500</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!-- 儿童房 -->
<div class="position_children position_room">
    <div class="title">
      <p>客厅</p>
    </div>
    <div class="swiper-container1">

      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_living1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_living2.jpg">
              <span>全实木布艺沙发</span>
              <i>￥7999</i>
            </div>
            <div>
              <img src="../../images/all_living3.jpg">
              <span>1.2米带抽茶几</span>
              <i>￥1599</i>
            </div>
            <div>
              <img src="../../images/all_living4.jpg">
              <span>1.5米电视柜</span>
              <i>￥2099</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_beding1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_beding2.jpg">
              <b>促销</b>
              <span>1.8米实木床</span>
              <i>￥1699</i>
            </div>
            <div>
              <img src="../../images/all_beding3.jpg">
              <b>促销</b>
              <span>双抽床头柜</span>
              <i>￥449</i>
            </div>
            <div>
              <img src="../../images/all_beding4.jpg">
              <span>四门衣柜</span>
              <i>￥5699</i>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="swiper-slide-all">
            <span></span>
            <img src="../../images/all_restaurant1.jpg">
          </div>
          <div class="swiper-slide-detail">
            <div>
              <img src="../../images/all_restaurant2.jpg">
              <span>实木餐厅套装</span>
              <i>￥3399</i>
            </div>
            <div>
              <img src="../../images/all_restaurant3.jpg">
              <span>两门餐边柜</span>
              <i>￥2199</i>
            </div>
            <div>
              <img src="../../images/all_restaurant4.jpg">
              <span>无扶手餐椅</span>
              <i>￥500</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 精选风格 -->
  <div class="position_profectStyle">
    <div class="title">
      <p>精选风格</p>
    </div>
    <div class="position_profectStyle_img">
      <div><img src="../../images/style1.jpg"></div>
      <div><img src="../../images/style2.jpg"></div>
      <div><img src="../../images/style3.jpg"></div>
      <div><img src="../../images/style4.jpg"></div>
      <div><img src="../../images/style5.jpg"></div>
      <div><img src="../../images/style6.jpg"></div>
      <div><img src="../../images/style7.jpg"></div>
      <div><img src="../../images/style8.jpg"></div>
      <div><img src="../../images/style9.jpg"></div>
    </div>
  </div>
  <div class="position_bigBrand">
    <div class="title">
      <p>大牌云集</p>
    </div>
    <div class="position_bigBrand_img">
      <div><img src="../../images/bigbrand1.jpg"></div>
      <div><img src="../../images/bigbrand2.jpg"></div>
      <div><img src="../../images/bigbrand3.jpg"></div>
      <div><img src="../../images/bigbrand4.jpg"></div>
      <div><img src="../../images/bigbrand5.jpg"></div>
      <div><img src="../../images/bigbrand6.jpg"></div>
    </div>
  </div>
  <!-- 猜你喜欢 -->
  <div class="position_guess">
    <div class="title">
      <p>猜你喜欢</p>
    </div>
    <div class="position_guess_div">

    </div>
  </div>
</div>