<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="../../images/banner1.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner2.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner3.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner4.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner5.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner6.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner7.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner8.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner9.jpg"> </div>
    <div class="swiper-slide"><img src="../../images/banner10.jpg"> </div>
  </div>
  <!-- 如果需要分页器 -->
  <div class="swiper-pagination"></div>
</div>
<div class="position_nav">
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>体验馆</p>
  </div>
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>新品</p>
  </div>
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>现货特卖</p>
  </div>
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>阅木</p>
  </div>
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>实木家具</p>
  </div>
  <div>
    <i class="yo-ico">&#xe685;</i>
    <p>沙发</p>
  </div>
  <div>
    <i class="yo-ico">&#xe63f;</i>
    <p>床</p>
  </div>
  <div>
    <i class="yo-ico">&#xe63f;</i>
    <p>床垫</p>
  </div>
</div>
<!-- 限时抢购 -->
<div class="positon_flashTime">
  <div class="title">
    <p>限时抢购</p>
    <i class="yo-ico">&#xe65f;</i>
  </div>
  <div class="positon_flashTime_con">
    <div class="positon_flashTime_content">
      <div>
        <span>即将开始</span>
        <img src="../../images/flash_by.jpg">
      </div>
      <div>
        <div>0天20:36:26后开始</div>
        <p>简美皮布沙发套装</p>
        <span>
          ¥<i>13999</i>
          <del>24999</del>
        </span>
      </div>
    </div>
    <div class="positon_flashTime_content">
      <div>
        <span>即将开始</span>
        <img src="../../images/flash_by.jpg">
      </div>
      <div>
        <div>0天20:36:26后开始</div>
        <p>简美皮布沙发套装</p>
        <span>
          ¥<i>13999</i>
          <del>24999</del>
        </span>
      </div>
    </div>
  </div>
</div>
<!-- 新品发布 -->
<div class="position_newProduct">
  <div class="title">
    <p>新品首发</p>
    <i class="yo-ico">&#xe65f;</i>
  </div>
  <div class="position_newProduct_con">
    <div>
      <img src="../../images/newproduct1.jpg">
      <div>
        <p>LED实木吸顶灯</p>
        <i>￥199</i>
      </div>

    </div>
    <div>
      <div>
        <img src="../../images/newproduct2.jpg">
        <div>
          <p>1.8米收纳储物床</p>
          <i>￥1499</i>
        </div>

      </div>
      <div>
        <img src="../../images/newproduct3.jpg">
        <div>
          <p>简约布艺转角沙发</p>
          <i>￥2899</i>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 全屋系列 -->
<div class="position_allHouse">
  <div class="title">
    <p>全屋系列</p>
  </div>
  <div class="swiper-container1">
      
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/all_living1.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                  <img src="../../images/all_living2.jpg">
                  <span>全实木布艺沙发</span>
                  <i>￥7999</i>
              </div>  
              <div>
                  <img src="../../images/all_living3.jpg">
                  <span>1.2米带抽茶几</span>
                  <i>￥1599</i>
              </div>  
              <div>
                  <img src="../../images/all_living4.jpg">
                  <span>1.5米电视柜</span>
                  <i>￥2099</i>
              </div>  
            </div>
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                  <span></span>
                  <img src="../../images/all_beding1.jpg">
                </div>
                <div class="swiper-slide-detail">
                  <div>
                      <img src="../../images/all_beding2.jpg">
                      <b>促销</b>
                      <span>1.8米实木床</span>
                      <i>￥1699</i>
                  </div>  
                  <div>
                      <img src="../../images/all_beding3.jpg">
                      <b>促销</b>
                      <span>双抽床头柜</span>
                      <i>￥449</i>
                  </div>  
                  <div>
                      <img src="../../images/all_beding4.jpg">
                      <span>四门衣柜</span>
                      <i>￥5699</i>
                  </div>  
                </div>
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                  <span></span>
                  <img src="../../images/all_restaurant1.jpg">
                </div>
                <div class="swiper-slide-detail">
                  <div>
                      <img src="../../images/all_restaurant2.jpg">
                      <span>实木餐厅套装</span>
                      <i>￥3399</i>
                  </div>  
                  <div>
                      <img src="../../images/all_restaurant3.jpg">
                      <span>两门餐边柜</span>
                      <i>￥2199</i>
                  </div>  
                  <div>
                      <img src="../../images/all_restaurant4.jpg">
                      <span>无扶手餐椅</span>
                      <i>￥500</i>
                  </div>  
                </div>
          </div>
      </div>
  </div>
</div>
<!-- 客厅 -->
<div class="position_living">
  <div class="title">
    <p>客厅</p>
  </div>
  <div class="swiper-container1">
      
      <!-- 如果需要分页器 -->
      <div class="swiper-pagination"></div>
      <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="swiper-slide-all">
              <span></span>
              <img src="../../images/all_living1.jpg">
            </div>
            <div class="swiper-slide-detail">
              <div>
                  <img src="../../images/all_living2.jpg">
                  <span>全实木布艺沙发</span>
                  <i>￥7999</i>
              </div>  
              <div>
                  <img src="../../images/all_living3.jpg">
                  <span>1.2米带抽茶几</span>
                  <i>￥1599</i>
              </div>  
              <div>
                  <img src="../../images/all_living4.jpg">
                  <span>1.5米电视柜</span>
                  <i>￥2099</i>
              </div>  
            </div>
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                  <span></span>
                  <img src="../../images/all_beding1.jpg">
                </div>
                <div class="swiper-slide-detail">
                  <div>
                      <img src="../../images/all_beding2.jpg">
                      <b>促销</b>
                      <span>1.8米实木床</span>
                      <i>￥1699</i>
                  </div>  
                  <div>
                      <img src="../../images/all_beding3.jpg">
                      <b>促销</b>
                      <span>双抽床头柜</span>
                      <i>￥449</i>
                  </div>  
                  <div>
                      <img src="../../images/all_beding4.jpg">
                      <span>四门衣柜</span>
                      <i>￥5699</i>
                  </div>  
                </div>
          </div>
          <div class="swiper-slide">
              <div class="swiper-slide-all">
                  <span></span>
                  <img src="../../images/all_restaurant1.jpg">
                </div>
                <div class="swiper-slide-detail">
                  <div>
                      <img src="../../images/all_restaurant2.jpg">
                      <span>实木餐厅套装</span>
                      <i>￥3399</i>
                  </div>  
                  <div>
                      <img src="../../images/all_restaurant3.jpg">
                      <span>两门餐边柜</span>
                      <i>￥2199</i>
                  </div>  
                  <div>
                      <img src="../../images/all_restaurant4.jpg">
                      <span>无扶手餐椅</span>
                      <i>￥500</i>
                  </div>  
                </div>
          </div>
      </div>
  </div>
</div>




<!-- 精选风格 -->
<div class="position_profectStyle">
  <div class="title">
    <p>精选风格</p>
  </div>
  <div class="position_profectStyle_img">
    <div><img src="../../images/style1.jpg"></div>
    <div><img src="../../images/style2.jpg"></div>
    <div><img src="../../images/style3.jpg"></div>
    <div><img src="../../images/style4.jpg"></div>
    <div><img src="../../images/style5.jpg"></div>
    <div><img src="../../images/style6.jpg"></div>
    <div><img src="../../images/style7.jpg"></div>
    <div><img src="../../images/style8.jpg"></div>
    <div><img src="../../images/style9.jpg"></div>
  </div>
</div>
<div class="position_bigBrand">
  <div class="title">
    <p>大牌云集</p>
  </div>
  <div class="position_bigBrand_img">
    <div><img src="../../images/bigbrand1.jpg"></div>
    <div><img src="../../images/bigbrand2.jpg"></div>
    <div><img src="../../images/bigbrand3.jpg"></div>
    <div><img src="../../images/bigbrand4.jpg"></div>
    <div><img src="../../images/bigbrand5.jpg"></div>
    <div><img src="../../images/bigbrand6.jpg"></div>
  </div>
</div>
<!-- 猜你喜欢 -->
<div class="position_guess">
  <div class="title">
    <p>猜你喜欢</p>
  </div>
  <div class="position_guess_div">
    
  </div>
</div>