{{#each obj}}
<div class="mll-list" data-iid="{{iid}}">
    <div class=""></div>
    <div class="mll-main-list">
        <div class="td1">
            <input type="checkbox" name="" id="" />
        </div>
        <div class="td2">
            <img src="{{img}}" alt="">
        </div>
        <div class="td3">
            <div class="td-1">{{tit}}</div>
            <span class="td-2">¥{{price}}.00</span>
            <div class="td-3">
                <span class="rem">-</span>
                <input type="text" value="{{num}}">
                <span class="add">+</span>
                <i class="yo-ico remall">&#xe645;</i>
            </div>
        </div>
    </div>
</div>
{{/each}}