<div class="profilemain">
  <header class="mll-header">
    <div class="viewport">
      <div class="laye-back"> 
        <i class="yo-ico">&#xe660;</i>
      </div>
      <div class="laye-middle">
        购物车
      </div>
      <div class="laye-nav">
        <i class="yo-ico">&#xe609;</i>
      </div>
    </div>
  </header>
  <main class="mll-main">
    <div class="mll-main-header">
      <a href="##">登录</a>
      <span>后，您可以同步电脑和手机购物车中的商品</span>
    </div>
    <div class="mll-main-contend">
      <div>您还没有加入任何商品</div>
      <a href="##">随便逛逛</a>
    </div>
  </main>
  <footer class="mll-footer">
    <div class="btns">
      <div class="btns-app">下载APP</div>
      <div class="btns-pc">电脑版</div>
    </div>
    <div class="icp">
      <p>天津美维信息技术有限公司</p>
      <p>ICP备案证书号：粤ICP备08008334号</p>
    </div>
  </footer>
</div>