<div class="registermain">
    <div class="re-height">
        <i class="yo-ico">&#xe660;</i>
        <div class="re-heighttext">注册</div>
    </div>
    <div class="re-main">
        <div class="re-gogo">
            <div class=re-content>
                <ul>
                    <li>
                        <i class="yo-ico">&#xe659;</i>
                        <input type="text" placeholder="请输入手机号">
                    </li>
                    <li>
                        <i class="yo-ico">&#xe64b;</i>
                        <input type="text" placeholder="请设置登录密码">
                    </li>
                    <li>
                        <i class="yo-ico">&#xe661;</i>
                        <input type="text" placeholder="请重新输入密码">
                    </li>
                </ul>
            </div>
            <div class="re-btn">
                <a href="##">立即注册</a>
            </div>
        </div>
    </div>
</div>