<div class="registermain">
    <div class="re-height">
        <i class="yo-ico">&#xe660;</i>
        <div class="re-heighttext">注册</div>
    </div>
    <div class="re-main">
        <div class="re-gogo">
            <div class=re-content>
                <ul>
                    <li>
                        <i class="yo-ico il">&#xe659;</i>
                        <input type="text" class="ti" id="moblie" placeholder="请输入手机号">
                        <i class="yo-ico ir">&#xe621;</i>
                    </li>
                    <li>
                        <i class="yo-ico il">&#xe667;</i>
                        <input type="password" class="ti" id="password" placeholder="请设置登录密码">
                        <i class="yo-ico ir">&#xe621;</i>
                    </li>
                    <li>
                        <i class="yo-ico il">&#xe64c;</i>
                        <input type="password" class="ti" id="confirm_password" placeholder="请重新输入密码">
                        <i class="yo-ico ir">&#xe621;</i>
                    </li>
                </ul>
            </div>
            <div class="re-btn">
                <a id="register">立即注册</a>
            </div>
        </div>
    </div>
</div>