<div class="root-class">
  <div class="search-top">
    <div class="search"><i class="yo-ico">&#xe651;</i><i>搜索商品</i></div>
  </div>
  <div class="class-mid">
    <div class="class-mid-left">
      <ul>
        <li class="current">
          <i></i>
          推荐分类
        </li>
        <li>
          <i></i>
          卧室
        </li>
        <li>
          <i></i>
          客厅
        </li>
        <li>
          <i></i>
          餐厅
        </li>
        <li>
          <i></i>
          书房
        </li>
        <li>
          <i></i>
          儿童房
        </li>
        <li>
          <i></i>
          户外阳台
        </li>
        <li>
          <i></i>
          办公家具
        </li>
        <li>
          <i></i>
          建材精品
        </li>
        <li>
          <i></i>
          家居家饰
        </li>
      </ul>
    </div>
    <div class="class-mid-right">
      <div class="content">
        <div>
          <a href="##"><img src="../../images/laozhu-fenlei-1.jpg" alt=""></a>
          <h3>热卖专场<span>更多<i class="yo-ico">&#xe65f;</i></span></h3>
          <div class="img1">
            <img src="../../images/laozhu-fenlei-2.jpg" alt="">
            <img src="../../images/laozhu-fenlei-3.jpg" alt="">
            <img src="../../images/laozhu-fenlei-4.jpg" alt="">
          </div>
        </div>
        <div style="display: none;"></div>
      </div>
    </div>
  </div>
</div>